.game-choise {
    background-color: #fff;

}

.game-choise button {
    background-image: linear-gradient(to bottom right, #d5073e, #390116);
    text-decoration: none;
}

.game-choise button a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}


.game-choise button:hover {
    background-color: #010101;
}